@import "../utils/keyframes.scss";
@import "../utils/variables.scss";
@import "../utils/mixin.scss";

.entete {
  border-radius: 50px;
  background-color: white;
  height: 100px;
  margin-top: -45px;
  @include media760;
  &restaurant {
    padding-top: 28px;
    align-items: center;
    margin-left: 15px;
    font-family: "shrikhand", cursive;
    font-size: 1.6rem;
    display: inline-block;
  }
  .far {
    margin-top: 30px;
    margin-right: 30px;
    float: right;
    font-size: 1.6rem;
    &:hover {
      animation-fill-mode: forwards;
      animation-duration: 0.1s;
      animation-name: fadeout;
    }
  }
  .fas {
    margin-top: 30px;
    margin-right: -26px;
    float: right;
    font-size: 1.6rem;
    opacity: 0;
    color: $primaire;
    &:hover {
      animation-fill-mode: forwards;
      animation-duration: 0.1s;
      animation-name: fadein;
    }
  }
}

.intitule {
  text-transform: uppercase;
  margin-left: 15px;
  padding-bottom: 15px;
  @media (min-width: 760px) {
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
  }
  &texte {
    font-weight: 300;
    padding-bottom: 5px;
  }
  &ligne {
    width: 50px;
    height: 3px;
    background-color: $terciaire;
  }
}

.dish {
  height: 250px;
  position: relative;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-left: 5%;
  @include media760;
  &div1 {
    top: 0;
    @include dish;
    @include check;
    @include shortertitles;
  }
  &div2 {
    top: 50%;
    transform: translate(0, -50%);
    @include dish;
    @include check;
    @include shortertitles;
  }
  &div3 {
    bottom: 0;
    @include dish;
    @include check;
    @include shortertitles;
  }
  &title {
    padding-top: 15px;
    padding-left: 15px;
    font-size: 1.1rem;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: fit-content;
    width: 60%;
    display: inline-block;
    animation-name: longertitles;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  &description {
    padding-left: 15px;
    font-size: 0.9rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: fit-content;
    width: 60%;
    display: inline-block;
    animation-name: longertitles;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  &price {
    float: right;
    font-weight: 600;
    height: 100%;
    margin-bottom: -15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.dishaux {
  height: 333px;
  margin-bottom: 30px;
  position: relative;
  margin-left: 15px;
  @include media760;
  &divaux1 {
    top: 0;
    @include dish;
    @include check;
    @include shortertitlesaux;
  }
  &divaux2 {
    top: 26%;
    @include dish;
    @include check;
    @include shortertitlesaux;
  }
  &divaux3 {
    bottom: 26%;
    @include dish;
    @include check;
    @include shortertitlesaux;
  }
  &divaux4 {
    bottom: 0;
    @include dish;
    @include check;
    @include shortertitlesaux;
  }
  &titleaux {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: fit-content;
    width: 60%;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 1.1rem;
    font-weight: 600;
    animation-name: longertitles;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  &descriptionaux {
    padding-left: 15px;
    font-size: 0.9rem;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: fit-content;
    width: 60%;
    animation-name: longertitles;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  &priceaux {
    float: right;
    font-weight: 600;
    padding-right: 15px;
  }
}

.checkshape {
  float: right;
  height: 100%;
  width: 0px;
  background-color: $terciaire;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  transition-duration: 0.5s;
  overflow: hidden;
}

.fa-check-circle {
  @include flexalign;
  color: white;
  font-size: 1.5rem;
  height: 100%;
}

.entrees {
  .dishdiv {
    &1 {
      @include animationmenus(slide1, 500ms);
    }
    &2 {
      @include animationmenus(slide2, 700ms);
    }
    &3 {
      @include animationmenus(slide3, 900ms);
    }
  }
  .dishauxdivaux {
    &1 {
      @include animationmenus(slideaux1, 300ms);
    }
    &2 {
      @include animationmenus(slideaux2, 500ms);
    }
    &3 {
      @include animationmenus(slideaux3, 700ms);
    }
    &4 {
      @include animationmenus(slideaux4, 900ms);
    }
  }
}

.plats {
  .dishdiv {
    &1 {
      @include animationmenus(slide1, 700ms);
    }
    &2 {
      @include animationmenus(slide2, 900ms);
    }
    &3 {
      @include animationmenus(slide3, 1100ms);
    }
  }
}

.desserts {
  .dishdiv {
    &1 {
      @include animationmenus(slide1, 900ms);
    }
    &2 {
      @include animationmenus(slide2, 1100ms);
    }
    &3 {
      @include animationmenus(slide3, 1300ms);
    }
  }
}

.commander {
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
  @media (min-width: 760px) {
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
  }
  &bouton {
    @include bouton;
    &:hover {
      background: linear-gradient(
        180deg,
        lighten($secondaire, 5%) 0%,
        lighten($primaire, 5%) 100%
      );
      box-shadow: 0px 1px 10px 1px rgb(179, 179, 179);
    }
  }
}
