@import "../utils/keyframes.scss";
@import "../utils/variables.scss";
@import "../utils/mixin.scss";

.emplacement {
  height: 50px;
  background-color: #eaeaea;
  text-align: center;
  color: #484848;
  @include flexalign();
  .fa-map-marker-alt {
    font-size: 20px;
    padding-right: 20px;
  }
  .emplacementtexte {
    font-weight: 700;
  }
}

.presentation {
  padding-top: 40px;
  padding-bottom: 100px;
  @include flexalign();
  flex-direction: column;
  text-align: center;
  background-color: $gris;
  &texteun {
    font-weight: 900;
    font-size: 1.4rem;
    width: 70%;
  }
  &textedeux {
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: 300;
    width: 90%;
  }
  &bouton {
    @include bouton;
    &:hover {
      background: linear-gradient(
        180deg,
        lighten($secondaire, 5%) 0%,
        lighten($primaire, 5%) 100%
      );
      box-shadow: 0px 1px 10px 1px rgb(179, 179, 179);
    }
  }
}
