@import "../utils/keyframes.scss";
@import "../utils/variables.scss";
@import "../utils/mixin.scss";

.restaurants {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 30px;
  background-color: $gris;
  &texterestaurants {
    font-size: 1.3rem;
    font-weight: 700;
    padding-bottom: 30px;
    @media (min-width: 760px) {
      width: 60%;
      margin: auto;
    }
  }
  &div {
    box-shadow: 0px 5px 20px 1px lightgray;
    width: 90%;
    height: 220px;
    position: relative;
    margin-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-decoration: none;
    border: none;
    padding: 0;
    cursor: pointer;
    @media (min-width: 760px) {
      width: 50%;
      margin: 10px auto;
    }
  }
  &image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  &nouveau {
    font-weight: 700;
    color: #008766;
    position: absolute;
    top: 14px;
    right: 14px;
    background-color: $terciaire;
    border-width: 5px 10px 5px 10px;
    border-style: solid;
    border-color: $terciaire;
  }
  .nouveau3,
  .nouveau4 {
    visibility: hidden;
  }
  &groupetextes {
    width: 50%;
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
    position: absolute;
    bottom: 15px;
    left: 0;
  }
  &nom {
    font-size: 1.1rem;
    font-weight: 700;
    display: block;
  }
  .fas {
    font-size: 1.5rem;
    position: absolute;
    bottom: 25px;
    right: 25px;
    opacity: 0;
    color: $primaire;
    &:hover {
      animation-fill-mode: forwards;
      animation-duration: 0.1s;
      animation-name: fadein;
    }
  }
  .far {
    font-size: 1.5rem;
    position: absolute;
    bottom: 25px;
    right: 25px;
    &:hover {
      animation-fill-mode: forwards;
      animation-duration: 0.1s;
      animation-name: fadeout;
    }
  }
}
